{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
        <div class="col-3" id="sidebar">
            User ID: {{id}} <br>
            <form action="{{ url_for('euc_view', id=id, q='adj-fil-T2b-1') }}">
                <button id="start-test" type="submit">Start Test</button>
            </form>
            <span id="postTest"></span>
            
        </div>
        <div class="col-9" id="visualization-container">
            Introduction to Study
            <br>
            Possible example and explanation of visualization?
            <br>
            Introduction to Test
            <br>
            Details of Test
            <br>
            Possible Consent Requirements?
        </div>
        </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/sphericalVis.js')}}"></script>
<script>
    
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 
        var data = {{data | tojson}};
        if (data == "False") {
        document.getElementById("start-test").style.display = "none";
        document.getElementById("postTest").textContent = "Thanks for testing! You can exit the tool.";
       } else {
        document.getElementById("start-test").style.display = "block";
       }
    });
</script>
{% endblock %}