{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
        <div class="col-3" id="sidebar">
            User ID: {{id}} <br>
            <form action="{{ url_for('euc_view', id=id, q='adj-fil-T2b-1') }}">
                <button type="submit">Start Test</button>
            </form>
            
        </div>
        <div class="col-9" id="visualization-container">
            Introduction to Study
            <br>
            Possible example and explanation of visualization?
            <br>
            Introduction to Test
            <br>
            Details of Test
            <br>
            Possible Consent Requirements?
        </div>
        </div>
</div>


{% endblock %}

<!-- {% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/sphericalVis.js')}}"></script>
<script>
    
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 
        var data = {{data | tojson}};
        var questionID = "{{q_id}}";
        let vis = new SphericalVis("#mainVis", data.nodes, data.links);
        vis.addProjection();
        vis.draw();
        vis.interact();
        question = document.getElementById("question-sph")
        answers = ["Answer 1", "Answer 2", "Answer 3", "Answer 4"]
        if (questionID) {
            question.textContent = "Sample Question"
            questionChoices = document.getElementById("question-options-sph")
            for (var i = 0; i < answers.length; i++) {
                var parentChoices = document.createElement("div")
                parentChoices.className = "option-container"
                var answerNode = document.createElement("input")
                var answerText = document.createElement("label")
                answerNode.setAttribute("type", "radio")
                answerNode.setAttribute('id', answers[i])
                answerNode.setAttribute('name', "answers")
                answerText.setAttribute('for', answers[i])
                answerText.textContent = answers[i]
                parentChoices.appendChild(answerNode);
                parentChoices.appendChild(answerText);
                questionChoices.appendChild(parentChoices);
            }
            var submitButton = document.createElement("input")
            submitButton.setAttribute("type", "submit")
            submitButton.setAttribute("id", "submit-button")
            questionChoices.appendChild(submitButton);
        }

    });

</script>
{% endblock %} -->