{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
        <div class="col-3" id="sidebar">
            Sidebar text.
        </div>
        <div class="col-9" id="visualization-container">
            This is the visualization container. 
            <svg id="mainVis"></svg>
        </div>
        </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/euclideanVis.js')}}"></script>
<script>
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 
        var data = {{data | tojson}};
        let vis = new EuclideanVis("#mainVis", data.nodes, data.links);
        vis.process();
        vis.draw();

    });

</script>
{% endblock %}
