{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
        <div class="col-3" id="sidebar">
            User ID: {{id}}
            <a href></a>
        </div>
        <div class="col-9" id="visualization-container">
            This is the visualization container. 
            <svg id="mainVis"></svg>
        </div>
        </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 
        var data = {{data | tojson}};

    });

</script>
{% endblock %}