{% extends "base.html" %}
{% block content %}

<div class="container-fluid" id="main-body">
       <div class="row" id="main">
        <div class="col-3" id="sidebar">
            User ID: {{id}} <br>
            Question ID: {{q_id}}
            <div class="question" id="question-euc"></div>
            <form class="question-options" id="question-options-euc">
            </form>
        </div>
        <div class="col-9" id="visualization-container">
            <svg id="mainVis"></svg>
        </div>
        </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/graph_answers.js')}}"></script>
<script src="{{url_for('static', filename='js/euclideanVis.js')}}"></script>
<script>
    var ready = (callback) => {
        if (document.readyState != "loading") callback();
        else document.addEventListener("DOMContentLoaded", callback);
      }

    ready(() => { 
        var data = {{data | tojson}};
        var questionID = "{{q_id}}";
        var question_obj = {{question | tojson}};
        let vis = new EuclideanVis("#mainVis", data.nodes, data.links);
        vis.process();
        vis.draw();
        if (question_obj["node"]["type_2"].length != 0) {
            vis.highlight_question(question_obj["node"]["type_1"], "#a837e6");
            vis.highlight_question(question_obj["node"]["type_2"], "#57d132");
            vis.interact(question_obj["node"]["type_1"].concat(question_obj["node"]["type_2"]));
        } else {
            vis.highlight_question(question_obj["node"]["type_1"], "#a837e6");
            vis.interact(question_obj["node"]["type_1"]);
        }

        question = document.getElementById("question-euc")
        if (questionID) {
            question.textContent = question_obj["q_text"]
            var question_options = Object.keys(question_obj["q_options"])
            questionChoices = document.getElementById("question-options-euc")
            for (var i = 0; i < question_options.length; i++) {
                var parentChoices = document.createElement("div")
                parentChoices.className = "option-container"
                var answerNode = document.createElement("input")
                var answerText = document.createElement("label")
                answerNode.setAttribute("type", "radio")
                answerNode.setAttribute('id', question_options[i])
                answerNode.setAttribute('name', "answers")
                answerText.setAttribute('for', question_options[i])
                answerText.textContent = question_obj["q_options"][question_options[i]]
                parentChoices.appendChild(answerNode);
                parentChoices.appendChild(answerText);
                questionChoices.appendChild(parentChoices);
            }
            var submitButton = document.createElement("input")
            submitButton.setAttribute("type", "submit")
            submitButton.classList.add("submit-button")
            questionChoices.appendChild(submitButton);

            var resetButton = document.createElement("button")
            resetButton.classList.add("reset-button")
            document.getElementById("navbarToggler").appendChild(resetButton)
            resetButton.appendChild(document.createTextNode('Reset Visualization'));
            resetButton.onclick = function() {
                // Define function here for resetting visualization
            }

            var current_answer = 'null'
            for (var i = 0; i < question_options.length; i++) {
                
                var option = document.getElementById(question_options[i]);
                console.log(option);
                option.addEventListener('change', (e) => {
                    current_answer = e.target.id;
                    var action_statement = `{{ url_for('next_question', id=id, q='${questionID}', a='${current_answer}')|unquote }}`
                    console.log(action_statement);
                    document.getElementById('question-options-euc').action = action_statement; 
                })
            }
           
            var action_statement = `{{ url_for('next_question', id=id, q='${questionID}', a='${current_answer}')|unquote }}`
            console.log(action_statement);
            document.getElementById('question-options-euc').action = action_statement; 
        }

    });

</script>
{% endblock %}